version: "3.8"
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app     
      - /app/node_modules 
    ports:
      - "8080:8080"
    environment:
      - CHOKIDAR_USEPOLLING=true 
    command: npm run dev
